#card_holder {
  flex-flow: row wrap;
}
#card {
  margin: 1em 0em;
}
@media (min-width: 640px) {
  #card:nth-child(3n) {
    break-after: always;
  }
  #card {
    width: 33%;
    height: 500px;
  }
}

@media (max-width: 640px) {
  #card:nth-child(3n) {
    break-after: avoid;
  }
  #card {
    width: 50%;
    height: 350px;
  }
  #card:nth-child(2n) {
    break-after: always;
  }
}
